node_modules
public/*
dist
!public/.gitkeep
.env
.env.test

package-lock.json
yarn.lock
yarn-error.log

/src/config/sentry.js
build
# Ignore test-related files
/coverage.data
/coverage/
docker-compose.yml
Dockerfile
